<nav class="nav flex-column px-3">
    <a class="nav-link" href="index.html" data-page="dashboard" >
        <i class="bi bi-house me-2"></i>Anasayfa
    </a>
    <a class="nav-link" href="uretim-siparisleri.html" data-page="uretim">
        <i class="bi bi-gear me-2"></i>Üretim Siparişleri
    </a>
    <a class="nav-link" href="dis-tedarik-siparisleri.html" data-page="dis-tedarik">
        <i class="bi bi-box me-2"></i>Dış Tedarik
    </a>
    <a class="nav-link" href="transferler.html" data-page="transfer">
        <i class="bi bi-arrow-left-right me-2"></i>Transferler
    </a>
    <a class="nav-link" href="anadepo-siparisleri.html" data-page="ana-depo">
        <i class="bi bi-building me-2"></i>Ana Depo
    </a>
    <!-- <a class="nav-link" href="check-list.html" data-page="check-list">
        <i class="bi bi-check2-square me-2"></i>Check List
    </a>
    <a class="nav-link" href="fire-zayi.html" data-page="fire-zayi">
        <i class="bi bi-exclamation-triangle me-2"></i>Fire ve Zayi
    </a>
    <a class="nav-link" href="ticket.html" data-page="ticket">
        <i class="bi bi-ticket me-2"></i>Ticket
    </a>
    <a class="nav-link" href="stok-sayimi.html" data-page="stok-sayimi">
        <i class="bi bi-calculator me-2"></i>Stok Sayımı
    </a> -->
</nav>
